.todo-list-item{
    cursor: pointer;
}

.todo-list-item.done .todo-list-item-label{
    color: black;
    text-decoration: line-through;
}
.todo-list-item.important .todo-list-item-label{
    font-weight: bold;
    color: steelblue;
}